@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: unset;
}

ul {
  list-style: none;
  margin-left: 1.5rem;
}

button,
input[type="submit"] {
  border: none;
  outline: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

.container {
  max-width: 550px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: #161a2b;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 1rem;
}

.header a > h1 {
  color: #fff;
}

.header .title {
  margin: 0;
  padding: 0 1rem;
  color: #fff;
}
.header > .auth-options {
  display: flex;
  height: 100%;
}
.header > .auth-options button {
  padding: 0 1rem;
  background-color: #161a2b;
  color: #fff;
  font-size: 1.1rem;
}

.header > .auth-options button:hover {
  background-color: #bd7e55;
  transition: all 0.3s ease-in-out;
}

.register,
.login,
.home {
  padding: 1rem;
}

.register h2,
.login h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  align-items: center;
  color: #fff;
}

/* form */
.form {
  display: flex;
  flex-flow: column wrap;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 0.1rem;
  color: #fff;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  font-size: 1.5rem;
  padding: 0.3rem;
  border: 1px solid #c2c2c2;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.form input[type="password"]::placeholder {
  color: #ccc;
  font-size: 1.2rem;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.form input:focus {
  border: 1px solid #268ee1;
  outline: none;
  box-shadow: inset 0px 0px 10px rgba(#268ee4, 0.5);
}

.form input[type="submit"] {
  border: 1px solid rgb(42, 150, 42);
  background-color: rgb(151, 207, 151);
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  color: #36473e;
  border-radius: 4px;
  max-width: 120px;
  justify-content: center;
}

.form input[type="submit"]:hover {
  background-color: #fff;
  color: #36473e;
  box-shadow: 0px 5px 7px -7px rgb(151, 207, 151, 1.5);
  transition: all 0.2s ease-in-out;
}

/* error */
.error {
  border: 1px solid rgb(150, 55, 55);
  background-color: rgb(245, 111, 111);
  color: #fff;
  padding: 0.2rem 1.2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  font-size: 1.1rem;
  line-height: 1.1;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error:hover {
  background-color: #fff;
  color: rgb(245, 111, 111);
}

.error > button {
  font-size: 1.5rem;
}

.error > button:hover {
  color: rgb(150, 55, 55);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.home > h2 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-btn {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-btn.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

/* media queries for form */
@media screen and (max-width: 550px) {
  .home {
    max-width: 450px;
  }

  .todo-input {
    width: 120px;
    font-size: 0.8rem;
  }

  .header .title {
    font-size: 1.2rem;
  }

  .header > .auth-options button {
    font-size: 0.9rem;
    padding: 0 0.5rem;
  }

  .form input[type="submit"] {
    min-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .home {
    max-width: 300px;
  }

  .todo-input {
    width: 120px;
    font-size: 0.8rem;
  }
}
